In [1]:
import numpy as np
import seaborn as sns
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import calendar
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('new dataset.csv')  #load the dataset as Data
df.info()                              #return the dataset information
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53943 entries, 0 to 53942
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               53943 non-null  int64
 1   Month              53943 non-null  int64
 2   Day                53943 non-null  int64
 3   Weekend?           53875 non-null  object
 4   Hour               53718 non-null  float64
 5   Collision Type     53937 non-null  object
 6   Injury Type        53943 non-null  object
 7   Primary Factor     52822 non-null  object
 8   Reported_Location  53908 non-null  object
 9   Latitude           53913 non-null  float64
 10  Longitude          53913 non-null  float64
dtypes: float64(3), int64(3), object(5)
memory usage: 4.5+ MB

Year                    0
Month                   0
Day                     0
Weekend?               68
Hour                  225
Collision Type          6
Injury Type             0
Primary Factor       1121
Reported_Location      35
Latitude               30
Longitude              30
dtype: int64

In [3]:
df.head()

,Year,Month,Day,Weekend?,Hour,Collision Type,Injury Type,Primary Factor,Reported_Location,Latitude,Longitude
0,2015,1,5,Weekday,0.0,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,1ST & FESS,39.159207,-86.525874
1,2015,1,6,Weekday,1500.0,2-Car,No injury/unknown,FOLLOWING TOO CLOSELY,2ND & COLLEGE,39.161440,-86.534848
2,2015,1,6,Weekend,2300.0,2-Car,Non-incapacitating,DISREGARD SIGNAL/REG SIGN,BASSWOOD & BLOOMFIELD,39.149780,-86.568890
3,2015,1,7,Weekend,900.0,2-Car,Non-incapacitating,FAILURE TO YIELD RIGHT OF WAY,GATES & JACOBS,39.165655,-86.575956
4,2015,1,7,Weekend,1100.0,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,W 3RD,39.164848,-86.579625

In [4]:
df.duplicated().sum() ## Checking For duplicates.

64

In [5]:
df.drop_duplicates(inplace=True) ## Dropping duplicates

In [6]:
df["Hour"].head(20)

0        0.0
1     1500.0
2     2300.0
3      900.0
4     1100.0
5     1800.0
6     1200.0
7     1400.0
8     1400.0
9     1600.0
10    1500.0
11    1600.0
12    1700.0
13    1800.0
14    1300.0
15    1500.0
16    1800.0
17    1800.0
18    1600.0
19    1600.0
Name: Hour, dtype: float64

In [8]:
df.dropna(inplace=True)
df.isna().sum()

Year                 0
Month                0
Day                  0
Weekend?             0
Hour                 0
Collision Type       0
Injury Type          0
Primary Factor       0
Reported_Location    0
Latitude             0
Longitude            0
dtype: int64

In [9]:
df.shape

(52520, 11)

## Converting the Time

In [10]:
def convert_float_to_time(time_float):
    
    time_str = str(time_float).replace('.0', '').zfill(4)
    
    hours = time_str[:-2]
    minutes = time_str[-2:]
    
    return f"{hours}:{minutes}"

In [11]:
df['Hour'] = df['Hour'].apply(convert_float_to_time) ## Time conversion function
df["Hour"].head(10)

0    00:00
1    15:00
2    23:00
3    09:00
4    11:00
5    18:00
6    12:00
7    14:00
8    14:00
9    16:00
Name: Hour, dtype: object

In [12]:
df["Collision Type"].unique()

array(['2-Car', '1-Car', '3+ Cars', 'Pedestrian', 'Cyclist', 'Bus',
       'Moped/Motorcycle'], dtype=object)

In [17]:
df["Collision Type"].value_counts()

Collision Type
2-Car               36503
1-Car               10012
3+ Cars              3104
Moped/Motorcycle      999
Bus                   840
Pedestrian            599
Cyclist               463
Name: count, dtype: int64